@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');

/* Background menggunakan gambar awan */
.bg-notes-cloud {
    background-image: url('background.jpeg'); /* Pastikan nama file gambar pas ya */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Font cursive untuk judul NotesApp */
.font-cursive {
    font-family: 'Ms Madi', cursive;
}

/* Menghilangkan scrollbar bawaan browser tapi tetap bisa di-scroll */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none; /* IE dan Edge */
    scrollbar-width: none;    /* Firefox */
}